# Core
NODE_ENV=development

# API
API_PORT=3001
API_BASE_URL=http://localhost:3001

# Admin/Storefront (Next)
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ecom
POSTGRES_USER=ecom
POSTGRES_PASSWORD=ecom_password

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# MinIO
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=ecom
MINIO_USE_SSL=false

# Tenant config path (API container içinde mount edilecek)
TENANT_CONFIG_PATH=./deploy/tenant.json
