############################
# Global
############################
NODE_ENV=development

############################
# PostgreSQL
############################
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=ecom
POSTGRES_USER=ecom
POSTGRES_PASSWORD=ecom_password

DATABASE_URL=postgresql://ecom:ecom_password@postgres:5432/ecom?schema=public

############################
# Redis
############################
REDIS_HOST=redis
REDIS_PORT=6379

############################
# MinIO
############################
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=ecom
MINIO_USE_SSL=false

############################
# API
############################
API_PORT=3001

############################
# Prisma
############################
PRISMA_STUDIO_PORT=5555

############################
# Admin Panel
############################
ADMIN_PORT=3002
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001

############################
# Storefront
############################
STOREFRONT_PORT=3000
